/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
}

/* Write all remaining styles here */
#z-flex, .h-2 {
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: row;
}

h1, h2 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: row wrap;
}

#border {
	width: inherit;
	border: 1px solid gray;
}

#figure-1 {
	border: 5px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
}

footer, section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
}

.img {
	width: 24.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

section {
	width: inherit;
	justify-content: flex-end;
}
